body{
    color: beige;
    background: linear-gradient(black, purple);
    background-repeat: no-repeat;
    background-color: black;
}
body{
    background-image: url("City.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 100px;
   
}

h1{
    text-align: center;
    border-top-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-right-style: outset;
    border-radius: 100px;
    padding: 50px;
    color: white;
}

p{
    background-color: gray;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


p{



    border-style: outset;
    border-width: 100px;
    border-color: bisque;
    border-radius: 100px;
    padding: 20px;
}




#p1{

    color: aqua;
    text-decoration: underline;
    text-decoration: line-through;
}

.stuff{

    color: blueviolet;
    font-style: italic;
    font-weight: 600;
}


#box1{

    border: 10px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: grey;
}

#box2{
    border: 10px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: grey;
}